/* GENERAL */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}


/* UTILITIES */

.debug {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.25);
}

/* COMPONENTS */

.container {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}


/* HEADER */

header {
  display: flex;
  align-items:center;
  height: 85px;
  background-color: #3061E0;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .logo {
  background-color: aqua; /* togliere */
}

header nav {
  background-color: aqua; /* togliere */
}

header .login {
  background-color: aqua; /* togliere */
}

/* MAIN */

main .jumbotron {
  display: flex;
  align-items: center;
  height: 400px; /* togliere */
  background-color: #698EF0; /* togliere */
}

.jumbotron .container {
  display: flex;
  justify-content: center;
}

.jumbotron .hero-container {
  width: 750px; /* togliere */
  height: 300px; /* togliere */
  background-color: aqua; /* togliere */
}

main .section {
  display: flex;
  align-items: center;
  height: 500px; /* togliere */
}

main .section .container {
  display: flex;
  justify-content: space-between;
}

main .section.text-left {
  background-color: #F6F6F6; 
}

.section .img {
  width: 450px; /* togliere */
  height: 300px; /* togliere */
  background-color: aqua; /* togliere */
} 

.section .contents {
  width: 300px; /* togliere */
  height: 300px; /* togliere */
  background-color: aqua; /* togliere */
}

.section.text-left .img {
  order: 2;
} 

main .figure {
  display: flex;
  align-items: center;
  height: 650px; /* togliere */
  background-color: #F6F6F6;
}

.figure .text-top {
  height: 100px; /* togliere */
  background-color: aqua; /* togliere */
}

.figure .img {
  height: 300px; /* togliere */
  background-color: rgb(43, 203, 83); /* togliere */
}
